In [1]:
import json
import sqlite3

In [2]:
db_file = 'C:/Users/david/Documents/Big Data/Yelp/yelp.sqlite'
file_dir = '/Users/david/Documents/Big Data/Yelp/yelp_academic_dataset_user.json'
insert_script_template = 'INSERT INTO {} ({}) VALUES (?{});'  # template for insert command
table_scripts = {}  # dictionary of create table scripts for each table
ignored_keys = {}   # dictionary of keys ignored by each table
string_values = {}  # dictionary of values that need to be converted to strings to input into table

In [3]:
# connect to database
connection = sqlite3.connect(db_file)
cursor = connection.cursor()

In [4]:
# user table constants
table_name = 'users'
table_scripts[table_name] = (   "CREATE TABLE users ("                     # create table command for sqlite
                                "user_id char(22) NOT NULL PRIMARY KEY, "  # char(22) since id is fixed-length str
                                "name varchar(32) NOT NULL, "              # longest name in file is 32 characters
                                "review_count int(10) NOT NULL, "
                                "yelping_since date NOT NULL, "
                                "useful int(10) NOT NULL, "
                                "funny int(10) NOT NULL, "
                                "cool int(10) NOT NULL, "
                                "fans int(10) NOT NULL, "
                                "average_stars FLOAT(3,2), "
                                "compliment_hot int(5) NOT NULL, "
                                "compliment_more int(5) NOT NULL, "
                                "compliment_profile int(5) NOT NULL, "
                                "compliment_cute int(5) NOT NULL, "
                                "compliment_list int(5) NOT NULL, "
                                "compliment_note int(5) NOT NULL, "
                                "compliment_plain int(5) NOT NULL, "
                                "compliment_cool int(5) NOT NULL, "
                                "compliment_funny int(5) NOT NULL, "
                                "compliment_writer int(5) NOT NULL, "
                                "compliment_photos int(5) NOT NULL, "
                                "type varchar(20))")
ignored_keys[table_name] = ['friends', 'elite']
string_values = ['user_id', 'name', 'type', 'yelping_since']

In [ ]:
#makes tables
try:
    cursor.execute(table_scripts[table_name])
except sqlite3.Error as error:
    print('An error occurred when making table:', error)

In [ ]:
#inserts rows
with open(file_dir, 'r', encoding="utf8") as file:  # encoding specified since I was running into errors when I didn't
    columns = [key for key in json.loads(file.readline()) if key not in ignored_keys[table_name]]  # used column names
    file.seek(0)  # returns to beginning of file
    for line in file:
        user = json.loads(line)
        data = []
        for key in user:
            if key not in ignored_keys[table_name]:
                if key in string_values:
                    data.append('"{}"'.format(str(user[key])))  # adds double quotes to the value so that
                else:                                           # it's recognized as a string
                    data.append(user[key])
        cursor.execute(insert_script_template.format(table_name, ','.join(columns), ', ?' * (len(columns)-1)), data)
    connection.commit()

In [11]:
# to check if users loaded properly
cursor.execute('SELECT * FROM {} LIMIT 10'.format(table_name))
for user in cursor.fetchall():
    print(user, '\n')

('"EZmocAborM6z66rTzeZxzQ"', '"Rob"', 761, '"2009-09-12"', 18456, 12316, 17579, 298, 3.59, 3904, 305, 207, 79, 19, 4705, 2617, 4192, 4192, 1147, 1347, '"user"')

('"myql3o3x22_ygECb8gVo7A"', '"Vivian"', 80, '"2009-06-27"', 117, 28, 104, 34, 4.29, 64, 4, 5, 11, 1, 97, 129, 144, 144, 17, 24, '"user"')

('"FIk4lQQu1eTe2EpzQ4xhBA"', '"Carol"', 841, '"2010-08-26"', 58, 6, 5, 48, 4.15, 14, 10, 3, 1, 2, 21, 23, 36, 36, 28, 4, '"user"')

('"ojovtd9c8GIeDiB8e0mq2w"', '"Miss Maggie"', 376, '"2008-05-31"', 42, 51, 42, 28, 3.82, 32, 5, 4, 6, 0, 13, 29, 54, 54, 17, 1, '"user"')

('"uVEoZmmL9yK0NMgadLL0CQ"', '"Jeremy"', 28, '"2013-01-17"', 8, 3, 3, 2, 2.97, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '"user"')

('"TprC8sujz8MkwuomrqUSiw"', '"Ramsey"', 194, '"2009-01-06"', 5, 0, 0, 9, 3.76, 7, 1, 1, 0, 2, 9, 14, 19, 19, 9, 5, '"user"')

('"De-dImXf-TOFWWPTUWwIvw"', '"Ben"', 111, '"2011-06-09"', 18, 11, 11, 4, 4.04, 16, 4, 0, 1, 0, 16, 45, 33, 33, 21, 3, '"user"')

('"vWXDkGEvICWNCjBW_fKBlg"', '"Carrie"', 260, '"2011-02-05"', 89, 21, 17, 21, 3.73, 11, 5, 2, 4, 0, 4, 20, 18, 18, 10, 3, '"user"')

('"JMTr179r5SGHC_rPUBSWfQ"', '"Slavisa"', 30, '"2012-03-16"', 23, 7, 2, 1, 3.42, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, '"user"')

('"s7XIFcwZnhEUMzSZ4EiAHA"', '"Javier"', 96, '"2011-06-01"', 29, 8, 8, 3, 3.39, 6, 5, 0, 0, 0, 9, 7, 7, 7, 9, 0, '"user"')

In [12]:
connection.close()